/* vehicles/vehicles.component.css */
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .active-link {
    font-weight: bold;
    color: #1976d2;
  }
  
  mat-toolbar {
    padding: 0 16px;
  }
  